<!-- By property binding by using [ ], we are setting the disabled property natively... -->
<!-- ...which is something that the regular disabled HTML attribute doesn't do. -->
<!-- Since the disabled property uses a bool, we set true or false based on the variable we declard in the TS. -->
<button [disabled]="!allowNewServer" class="btn btn-primary">
    Add Server
</button>

<!-- Sometimes you can use either string interpolation or property binding -->
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>

<!-- Use string interpolation if you want to print out string values -->
<!-- Use property binding if you want to change the properties of an element -->
<!-- DON'T MIX THE TWO! -->

<app-server></app-server>
<app-server></app-server>