div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0.25em;
    background-color: rgb(52, 141, 40);
    border-radius: 25px;
    border: 1px solid rgb(155, 155, 155);
}

h1 {
    color: transparent;
    background-image: linear-gradient(-45deg, rgb(96, 255, 75), rgb(5, 143, 0));
    background-clip: text;
    background-clip: -webkit-text;
    background-position: 0%;
    background-size: 200%;
    animation: movingGradient 10s infinite alternate linear;
    margin: 0;
    font-size: 40pt;
    font-weight: bolder;
    
}

@keyframes movingGradient {
    0% {
        background-position: 0%;
    }
    
    100% {
        background-position: 100%;
    }
}